#adminPage {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
#adminPage table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#adminPage table td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
#adminPage table tr td img {
    width: 60px;
    height: 60px;
    border-Radius:30px
}

/* form */
#adminPage #myModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(80 75 75 / 63%);
}
#adminPage .show-modal {
    animation: show 0.5s;
}
@keyframes show {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
#adminPage #myModal form {
    margin: 0 auto;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}
#adminPage #myModal form .box {
    display: flex;
    align-items: center;
    margin: 10px;
}
#adminPage #myModal form .box label {
    width: 25%;
    margin-right: 10px;
    text-align: end;
}
#adminPage #myModal form .box input {
    padding: 10px;
    width: 50%;
    margin: 0;
}
#myModal form .box .icon {
    padding: 10px;
    border: 1px solid rgb(47, 47, 47);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#adminPage #myModal form #footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items:center
}
#adminPage table button {
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 50%;
    color: blue;
}
#adminPage .addUserBtn {
    padding: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}